@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('https://i.ytimg.com/vi/IunZ8c4fwO8/maxresdefault.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}